<header class="pageHeader">
  <h3>
    <i class="fa fa-tachometer fa-lg page-caption" aria-hidden="true"></i> Dashboard
  </h3>
</header>
<div>
  <div #widgetsContainer cdkDropList (cdkDropListDropped)="drop($event)" class="row">
    @if (!configurations.showDashboardNotifications) {
      <div class="col-12 my-5">
        <div class="card card-body bg-light">
          <h4 class="text-muted text-center text-link">
            You have no widgets displayed. Goto
            <a routerLink="/settings" fragment="preferences">
              <i class="fa fa-sliders"></i> Preferences
            </a>
            to configure available widgets
          </h4>
        </div>
      </div>
    }

    @if (configurations.showDashboardNotifications) {
      <div id="dashboardNotifications" #dashboardNotifications class="col-12 mb-4 widget-container px-0"
           cdkDrag [cdkDragStartDelay]="dragStartDelay">
        <button type="button" class="btn-close" aria-label="Close" title="Close"
                (click)="configurations.showDashboardNotifications = false"></button>
        <div #dragPlaceholder *cdkDragPlaceholder class="widget-container-placeholder mb-4"
             [style.minHeight.px]="getPlaceholderMinHeight(dragPlaceholder, dashboardNotifications)"></div>
        <app-notifications-viewer></app-notifications-viewer>
      </div>
    }
  </div>
</div>
